[submodule "themes/soothe_theme"]
	path = themes/soothe_theme
	url = https://github.com/jasonm23/emacs-soothe-theme.git
[submodule "plugins/emacs-powerline"]
	path = plugins/emacs-powerline
	url = git://github.com/jonathanchu/emacs-powerline.git
